<% provide(:title, item_type.name_plural) %>

<% content_for :top_content do %>
  <div class="top-content-type-generic">
    <%= render("shared/searchlinks") %>
  </div>
<% end %>

<div id="main-content">
  <div id="main-wrapper">
    <div id="main">
      <% if @corpus.present? %>
        <div id="ouvrage">
          <span class="searchmsg">
            <%= @browse.total_count %> <%= t(".images-for-book") %>: <i>«<%= @corpus.item_type.primary_field.raw_value(@corpus) %>»</i>
          </span>
        </div>
      <% end %>
      <%= render_item_list(@browse) %>
      <%= paginate(@browse.items) %>
    </div>
  </div>
</div>