<% content_for :top_content do %>
  <% case @item_type.slug
       when @image_item_type_image_slug %>
    <div class="top-content-type-item">
      <%= render("shared/searchlinks") %>
      <div class="items-nav"><%= render_item_list_nav(item_list, @item) if item_list %></div>
    </div>
  <% else %>
    <div class="top-content-type-generic">
      <%= render("shared/searchlinks") %>
    </div>
  <% end %>
<% end %>

<div id="main-content">
  <div id="main-wrapper">
    <div id="main">
      <% case @item_type.slug
           when @corpus_item_type_slug %>
        <%= render("items/type/corpus") %>
      <% when @image_item_type_image_slug %>
        <%= render("items/type/image") %>
      <% else %>
        <%= render("items/type/other") %>
      <% end %>
    </div>
  </div>
</div>