<div id="footer-wrapper">
  <div id="logo-banner">
    <a href="https://www.unil.ch/viaticalpes" target="_blank">
      <%= image_tag("viaticalpes.jpg", alt: "Viaticalpes") %>
    </a>
    <div id="logos-biblios">
      <a href="https://www.bcu-lausanne.ch/" target="_blank">
        <%= image_tag("bcu.gif", alt: "BCU") %>
      </a>
      <a href="https://www.mediatheque.ch" target="_blank">
        <%= image_tag("mediatheque-vs.gif", alt: "Médiathèque Valais") %>
      </a>
      <a href="https://www.nb.admin.ch" target="_blank">
        <%= image_tag("snb.gif", alt: "Bibliothèque Nationale Suisse") %>
      </a>
      <a href="https://www.ville-ge.ch/bge" target="_blank">
        <%= image_tag("bge.gif", alt: "BGE") %>
      </a>
      <a href="https://bpun.unine.ch" target="_blank">
        <%= image_tag("bne.gif", alt: "BNE") %>
      </a>
      <a href="https://www.burgerbib.ch" target="_blank">
        <%= image_tag("bubibe.gif", alt: "Burgerbiliothek Bern") %>
      </a>
    </div>
  </div>
  <div id="footer">
    <%= link_to(t('.viat-images'), '/viatimages/' + I18n.locale.to_s + '/images') %>
    <%= link_to(t('.viat-corpus'), '/viatimages/' + I18n.locale.to_s + '/corpus') %>

    <%= link_to(t('.viat-help'), '/viatimages/' + I18n.locale.to_s + '/aide') %>
    <%= link_to(t('.viat-contacts'), '/viatimages/' + I18n.locale.to_s + '/contact') %>
    <%= link_to(t('.viat-legal'), '/viatimages/' + I18n.locale.to_s + '/legal') %>

    <%= link_to(t('.viat-admin'), '/viatimages/' + I18n.locale.to_s + '/admin') %>
  </div>
</div>
