<% provide(:title) do %>
  <%= t(".viat-search-results-message_html",
        :query => @simple_search_results&.query,
        :count => @simple_search_results&.total_count.presence || 0,
        :count_delimited => number_with_delimiter(@simple_search_results&.total_count)) %>
<% end %>

<% provide(:top_content) do %>
  <div class="top-content-type-generic">
    <%= render("shared/searchlinks") %>
  </div>
<% end %>

<div id="main-content">
  <div id="main-wrapper">
    <div id="main">
      <div class="searchmsg">
        <% if @simple_search_results.query.empty? %>
          <%= t(".viat-no-search-criteria") %>
        <% else %>
          <%= t(".viat-search-results-message_html",
            :query => @simple_search_results&.query,
            :count => @simple_search_results&.total_count.presence || 0,
            :count_delimited => number_with_delimiter(@simple_search_results&.total_count)) %>
        <% end %>
      </div>

      <div class="images-wrapper">
        <div class="images">
          <%= render_item_list(@simple_search_results) %>
          <%= paginate(@simple_search_results.items) %>
        </div>
      </div>
    </div>
  </div>
</div>