<% content_for :top_content do %>
  <div class="top-content-type-home">
    <div id="searchbox">
      <!-- Standard search -->
      <%= bootstrap_form_tag(
              :url => { :controller => "simple_search", :action => "index" },
              :method => "GET",
              :layout => :inline ) do |f| %>

        <%= hidden_field_tag(:type, "images") %>
        <%= f.search_field(
                :q,
                :value => params[:q],
                :label => "Search",
                :hide_label => true,
                :autofocus => false,
                :class => "txtSearch",
                :placeholder => t(".viat-standard-search-placeholder")
            ) %>

        <%= f.submit(t(".viat-search-btn"), :class => 'btSearchAll') %>
      <% end %>

      <div id="searchlinks-home">
        <%= render("shared/search/geo_search") %>
        <%= render("shared/search/advanced_search") %>
      </div>
    </div>
  </div>
<% end %>