<div id="ouvrage">
  <h2 class="titreDetail"><%= @item.get_value('title') %></h2>

  <h4><%= @item.get_value('title-long') %></h4>

  <p id="corpus-persos">
    Personnes associées ?
  </p>

  <div id="corpus-details">
    <p class="corpusInfo">
      <span><%= t(".viat-publisher") %>:</span> ?<br>
      <span><%= t(".viat-publishing-date") %>:</span> <%= @item.get_value('date-edition')['Y'] %><br>
      <span><%= t(".viat-publication-place") %>:</span> <%= field_value(@item, @lieu_edition) %>
    </p>

    <p class="corpusInfo">
      <span><%= t(".viat-online-book-collection") %>:&nbsp;</span> ?
    </p>

    <p class="corpusInfo">
      <span><%= t(".viat-description") %>:</span><br>
      ? - <%= field_value(@item, @tome_volume) %> Tome(s)&nbsp;/&nbsp;Volume(s), <%= @item.get_value('nbre-illustrations') %> illustration(s)<br>
      <a href="<%= @etablissement.get_value('web') %>" target="_blank"><%= @etablissement.item_type.find_field('name').raw_value(@etablissement) %></a> - <%= @item.item_type.find_field('cote').label %>: <%= @item.get_value('cote') %> - <a href="<%=  @item.get_value('url-catalogue') %>" target="_blank" title="<%= t(".viat-catalog-record") %>"><%= t(".viat-catalog-record") %></a>
    </p>

    <p class="corpusInfo">
      <span><%= t(".viat-comments") %>:</span><br>
      <%= @item.get_value('comment') %>
    </p>

    <p class="corpusInfo">
      <span><%= t(".viat-book-collection") %>:</span> <%= @collection_ouvrage.raw_value(@item) %><br>
      <span><%= t(".viat-book-language") %>:</span> <%= @langue_ouvrage.selected_choice(@item).short_name if @langue_ouvrage.selected_choice(@item).present? %><br>
      <span><%= t(".viat-other-editions") %>:</span> <%= @autre_editions.raw_value(@item) %><br>
    </p>
  </div>

  <span class="searchmsg">
     <%= t(".viat-title-images",
           :images_count => @images_count,
           :corpus_title => @item.get_value('title')) %>
  </span>
</div>

<% fields_and_item_references(@item) do |field, browse| %>
  <%= render_item_list(browse) %>
  <% if browse.more? %>
    <%= link_to(items_path(
                    :item_type_slug => browse.item_type,
                    browse.field.slug => browse.value
                )) do %>
      <%= t(".viat-view-more") %>
    <% end %>
  <% end %>
<% end %>