<div id="ouvrage">
  <% if @title && strip_tags(field_value(@item, @title)).present? %>
    <h2 id="titreOuvrage"><%= field_value(@item, @title) %></h2>
  <% end %>

  <% if @titre_trad && strip_tags(field_value(@item, @titre_trad)).present? %>
    <h2 id="titreOuvrageTrad"><%= field_value(@item, @titre_trad) %></h2>
  <% end %>

  <% if @title_long && strip_tags(field_value(@item, @title_long)).present? %>
    <h4 id="titreOuvrageLong"><%= field_value(@item, @title_long) %></h4>
  <% end %>

  <div id="corpus-persos">
  </div>

  <div id="corpus-details">
    <p class="corpusInfo">
      <% if @editeur && strip_tags(field_value(@item, @editeur)).present? %>
        <span><%= @editeur.label %>:</span> <%= field_value(@item, @editeur) %><br>
      <% end %>
      <% if @date_edition && strip_tags(field_value(@item, @date_edition)).present? %>
        <span><%= @date_edition.label %>:</span> <%= field_value(@item, @date_edition) %><br>
      <% end %>
      <% if @lieu_edition && strip_tags(field_value(@item, @lieu_edition)).present? %>
        <span><%= @lieu_edition.label %>:</span> <%= field_value(@item, @lieu_edition) %><br>
      <% end %>
      <% if @siecle_edition && strip_tags(field_value(@item, @siecle_edition)).present? %>
        <span><%= @siecle_edition.label %>:</span> <%= field_value(@item, @siecle_edition) %><br>
      <% end %>
      <% if @siecle_voyage && strip_tags(field_value(@item, @siecle_voyage)).present? %>
        <span><%= @siecle_voyage.label %>:</span> <%= field_value(@item, @siecle_voyage) %>
      <% end %>

      <% if @provenance_collection && strip_tags(field_value(@item, @provenance_collection)).present? %>
        <span><%= @provenance_collection.label %>:</span> <%= field_value(@item, @provenance_collection) %><br>
      <% end %>
      <% if @description_collection && strip_tags(field_value(@item, @description_collection)).present? %>
        <span><%= @description_collection.label %>:</span> <%= field_value(@item, @description_collection) %>
      <% end %>
    </p>

    <div class="corpusInfo">
      <br>
      <span><%= t(".viat-description") %>:</span><br>
      <% if @format && strip_tags(field_value(@item, @format)).present? %>
        <%= field_value(@item, @format) %>
        <% if @tome_volume && strip_tags(field_value(@item, @tome_volume)).present? %>
          -
        <% end %>
      <% end %>
      <% if @tome_volume && strip_tags(field_value(@item, @tome_volume)).present? %>
        <%= field_value(@item, @tome_volume) %> Tome(s)/Volume(s)<% if @nbre_illustrations && strip_tags(field_value(@item, @nbre_illustrations)).present? %>, <% end %>
      <% end %>
      <% if @nbre_illustrations && strip_tags(field_value(@item, @nbre_illustrations)).present? %>
        <%= field_value(@item, @nbre_illustrations) %> illustration(s)
      <% end %>
      <br>
      <div id="etablissementCorpus">
        <% if @etablissement && @etablissement.get_value('url').present? %>
          <a href="<%= @etablissement.get_value('url') %>" target="_blank"><%= field_value(@etablissement, @etablissement.item_type.find_field('nom')) %></a>
        <% end %>
        <% if @cote && strip_tags(field_value(@item, @cote)).present? %>
          <%= @cote.label %>: <%= field_value(@item, @cote) %>
        <% end %>
        <% if @url_catalogue && strip_tags(field_value(@item, @url_catalogue)).present? %>
          <a href="<%= @url_catalogue.raw_value(@item) %>" target="_blank" title="<%= t(".viat-catalog-record") %>"><%= t(".viat-catalog-record") %></a>
        <% end %>
      </div>
      <br>
    </div>

    <% if @comment && strip_tags(field_value(@item, @comment)).present? %>
      <p class="corpusInfo">
        <span><%= @comment.label %>:</span><br>
        <%= field_value(@item, @comment) %>
      </p>
    <% end %>

    <p class="corpusInfo">
      <% if @collection_ouvrage && strip_tags(field_value(@item, @collection_ouvrage)).present? %>
        <span><%= @collection_ouvrage.label %>:</span> <%= field_value(@item, @collection_ouvrage) %><br>
      <% end %>
      <% if @langue_ouvrage && strip_tags(field_value(@item, @langue_ouvrage)).present? %>
        <span><%= @langue_ouvrage.label %>:</span> <%= field_value(@item, @langue_ouvrage) %><br>
      <% end %>
      <% if @autre_editions && strip_tags(field_value(@item, @autre_editions)).present? %>
        <span><%= @autre_editions.label %>:</span> <%= field_value(@item, @autre_editions) %>
      <% end %>
    </p>
  </div>

  <span class="searchmsg">
     <%= t(".viat-title-images",
           :images_count => @images_count,
           :corpus_title => @item.get_value('titre')) %>
  </span>
</div>

<% fields_and_item_references(@item) do |field, browse| %>
  <% if browse.item_type.slug === 'images' %>
    <%= render_item_list(browse) %>
    <% if browse.more? %>
      <%= link_to(items_path(
                      :item_type_slug => browse.item_type,
                      browse.field.slug => browse.value
                  )) do %>
        <%= t(".viat-view-more") %>
      <% end %>
    <% end %>
  <% end %>
<% end %>