<table id="image-item-top-content">
  <tbody>
  <tr>
    <td id="image-column">
      <div>
        <div id="image-content">
          <%= field_value(@item, @image) %>

          <% if strip_tags(field_value(@item, @texte_image)).present? %>
            <div id="imgToolbar">
              <p class="info">
                <a id ="texteImageLabel" href="#">
                  <span><%= @texte_image.label %></span><%= image_tag("arrow-expand.gif", :id => "arrowtexteImage", :class => "info-toggle-img") %>
                </a>
              </p>
              <div id="texteImage">
                <%= field_value(@item, @texte_image) %>
              </div>
            </div>
          <% end %>
        </div>

        <% if strip_tags(field_value(@item, @image_id)).present? %>
          <div id="info-wrapper">
            <hr>
            <p id="info-content"><span><%= t(".viat-permanent-url") %>:</span> https://purl.org/viatimages/<%= params[:locale] %>/image/<%= @image_id.raw_value(@item) %></p>
          </div>
        <% end %>
      </div>
    </td>
    <td id="description-column">
      <div id="description-wrapper">
        <div id="description-titre">
          <% if strip_tags(field_value(@item, @titre)).present? %>
            <p id="titreLabel">
              <a id="titreDetailLabel" class="active" href="#">Titre original</a><span> | </span><a id="titreDetailTradLabel" class="inactive" href="#">Traduction</a>
            </p>
          <% end %>
          <span id="titreDetail">«<%= field_value(@item, @titre_orig) %>»</span>
          <span id="titreDetailTrad">«<%= field_value(@item, @titre) %>»</span>
        </div>

        <div id="details-top">
          <% if strip_tags(field_value(@item, @illustrateurs)).present? %>
            <p class="info"><span><%= t(".viat-illustrators") %></span><br>
              <%= field_value(@item, @illustrateurs) %>
            </p>
          <% end %>

          <% if strip_tags(field_value(@item, @corpus)).present? %>
            <p class="info"><span><%= t(".viat-original-source") %></span><br>
              <%= field_value(@item, @corpus) %>
            </p>
          <% end %>

          <% if strip_tags(field_value(@item.get_value('corpus'), @item.get_value('corpus').item_type.find_field('etablissement'))).present? %>
            <p class="info">
              <%= field_value(@item.get_value('corpus'), @item.get_value('corpus').item_type.find_field('etablissement')) %>
            </p>
          <% end %>

          <% if strip_tags(field_value(@item, @description)).present? %>
            <p class="info"><span><%= @description.label %></span><br>
              <%= field_value(@item, @description) %>
            </p>
          <% end %>

          <p class="info">
            <a id="caracteristiquesLabel" href="#">
              <span><%= t(".viat-characteristics") %></span><%= image_tag("arrow-expand.gif", :id => "arrowCaracteristiques", :class => "info-toggle-img") %>
            </a>
          </p>
          <div id="caracteristiques">
            <table>
              <tbody>
              <tr>
                <td>
                  <div id="caracteristiquesGenerales" class="info">
                    <%= strip_tags(field_value(@item, @critere_technique)).rstrip if strip_tags(field_value(@item, @critere_technique)).present? %>

                    <% if strip_tags(field_value(@item, @planche_depliante)).present? %>
                      <% if @yes.include? strip_tags(field_value(@item, @planche_depliante)) %>
                        <%= @planche_depliante.label %>
                      <% end %>
                    <% end %>

                    <% if strip_tags(field_value(@item, @en_couleur)).present? %>
                      <% if @yes.include? strip_tags(field_value(@item, @en_couleur)) %>
                        <%= @en_couleur.label %>
                      <% end %>
                    <% end %>
                  </div>
                  <% if strip_tags(field_value(@item, @largeur)).present? && strip_tags(field_value(@item, @hauteur)).present? %>
                    <div class="info">
                      <span><%= t(".viat-dimensions") %></span><br>
                      <%= field_value(@item, @largeur) %> x <%= field_value(@item, @hauteur) %> mm
                    </div>
                  <% end %>
                </td>
                <td>
                  <% if strip_tags(field_value(@item, @emplacement_ouvrage)).present? %>
                    <div class="info">
                      <span><%= @emplacement_ouvrage.label %></span><br>
                      <%= field_value(@item, @emplacement_ouvrage) %>
                    </div>
                  <% end %>
                  <% if strip_tags(field_value(@item, @genre)).present? %>
                    <div class="info">
                      <span><%= @genre.label %></span><br>
                      <%= field_value(@item, @genre) %>
                    </div>
                  <% end %>
                </td>
              </tr>
              </tbody>
            </table>
          </div>

          <% if strip_tags(field_value(@item, @remarque)).present? ||
              strip_tags(field_value(@item, @lieu_edition_image)).present? ||
              strip_tags(field_value(@item, @date_evenement)).present? %>
            <p class="info">
              <a id ="remarquesLabel" href="#">
                <span><%= t(".viat-comments") %></span><%= image_tag("arrow-expand.gif", :id => "arrowRemarques", :class => "info-toggle-img") %>
              </a>
            </p>
            <div id="remarques">
              <% if strip_tags(field_value(@item, @remarque)).present? %>
                <p class="info">
                  <span><%= t(".viat-researcher-comments") %></span><br>
                  <%= field_value(@item, @remarque) %>
                </p>
              <% end %>
              <% if strip_tags(field_value(@item, @lieu_edition_image)).present? %>
                <p class="info">
                  <span><%= @lieu_edition_image.label %></span><br>
                  <%= field_value(@item, @lieu_edition_image) %>
                </p>
              <% end %>
              <% if strip_tags(field_value(@item, @date_evenement)).present? %>
                <p class="info">
                  <span><%= @date_evenement.label %></span><br>
                  <%= field_value(@item, @date_evenement) %>
                </p>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </td>
  </tr>
  </tbody>
</table>

<ul class="nav nav-tabs centered" id="image-tabs" role="tablist">
  <li class="nav-item active">
    <a class="nav-link" id="details-tab" data-toggle="tab" href="#details" role="tab" aria-controls="home" aria-selected="true"><%= t(".viat-details") %></a>
  </li>
  <% if strip_tags(field_value(@item, @location)).present? %>
    <li class="nav-item">
      <a class="nav-link" id="carte-tab" data-toggle="tab" href="#carte" role="tab" aria-controls="profile" aria-selected="false"><%= t(".viat-map") %></a>
    </li>
  <% end %>
</ul>
<div class="tab-content" id="image-item-tabs-content">
  <div class="tab-pane fade active in" id="details" role="tabpanel" aria-labelledby="details-tab">
    <table>
      <tbody>
        <tr>
          <td>
            <% if strip_tags(field_value(@item, @domaine)).present? %>
              <p class="info"><span><%= @domaine.label %></span><br>
                <%= field_value(@item, @domaine) %>
              </p>
            <% end %>
            <% if strip_tags(field_value(@item, @keyword)).present? %>
              <p class="info mots-cles"><span><%= @keyword.label %></span><br>
                <%= field_value(@item, @keyword) %>
              </p>
            <% end %>
          </td>
          <td>
            <% if strip_tags(field_value(@item, @geographie)).present? %>
              <p class="info"><span><%= @geographie.label %></span></p>
              <% @item.get_value(@geographie).each do |item| %>
                <p class="info"><%= strip_tags(field_value(item, item.item_type.find_field('feature-class'))) %>: <%= field_value(item, item.item_type.find_field('name')) %></p>
              <% end %>
            <% end %>
          </td>
          <td>
            <% if strip_tags(field_value(@item, @texte_legende)).present? %>
              <p class="info"><span>Légende</span><br>
                <%= field_value(@item, @texte_legende) %>
              </p>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="tab-pane fade" id="carte" role="tabpanel" aria-labelledby="carte-tab">
    <% if strip_tags(field_value(@item, @location)).present? %>
      <div id="carte-content">
        <%= field_value(@item, @location) %>
      </div>
    <% end %>
  </div>

  <div id="inlinepdf-wrapper">
    <div id="inlinepdf">
      ! TODO INLINE PDF
      <!-- <iframe id="inlinePdfFrame" style="width: 100%; height: 500px;" src="https://www2.unil.ch/viatimages/pdfview/index.php?url=https://www2.unil.ch/viatimages/viatimages/pdf/emery1901_bn_klff2230_185_188.pdf"></iframe> -->
    </div>
  </div>

  <% if strip_tags(field_value(@item, @chercheur)).present? %>
    <div id="chercheur">
      <%= t(".viat-index-desc") %>: <%= field_value(@item, @chercheur) %>
    </div>
  <% end %>
</div>


